.button {fill: purple;
    width: 200px,100px;
    background-color: purple;


}


hr {color: purple;
stroke: purple ;
width:100%;
border: 5px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}
h2 {

    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

img {
    border:purple;
    stroke-width: 4px;
    stroke: purple;
}